PORT=
MONGODB_URL=
JWT_SECRET=
ADMIN_EMAILS=

# Frontend Config
BACKEND_URL=http://localhost:5000

# Razorpay Config
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_PLAN_ID_BRONZE=
RAZORPAY_PLAN_ID_SILVER=
RAZORPAY_PLAN_ID_GOLD=

# SMTP Config
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# MSG91 SMS Config
MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=
MSG91_SENDER_ID=
MSG91_ROUTE=

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
